@import './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color-dark1;
    color: $color-white;
}

.img_logo_header {
    width: 45px;
}

.header, .navigation_header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header {
    background-color: $color-dark2;
    box-shadow: 1px 1px 4px $color-dark4;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;

    a {
        text-decoration: none;
        color: $color-purple;
        font-weight: bold;
        transition: 1s;
    }
}

.active {
    background-color: $color-dark3;
    padding: 10px;
    border-radius: 10px;
}
